.input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 0 0 5px 5px;
  font-size: 1.4rem;

  textarea {
    border: none;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 0 0 5px 5px;
    background: #f1f1f1;
    outline: none;
    font-family: Roboto, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    resize: none;
  }

  textarea:focus {
    background: #ffffff;
  }

  textarea:focus::placeholder {
    color: transparent;
  }

  textarea:focus:-moz-placeholder {
    color: transparent;
  }

  button {
    background: #000000;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    border-left: 2px solid black;
  }

  button:hover {
    font-weight: 700;
    background: #ffffff;
    color: #000000;
    border-radius: 0 0 5px 0;
  }
}
