@import "../../../colors/colors";

.input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid $black-color;
  border-radius: 0 0 5px 5px;
  font-size: 1.4rem;
  background: $white-color;

  textarea {
    border: none;
    width: 100%;
    padding: 10px 20px 5px;
    font-size: 1.4rem;
    border-radius: 0 0 5px 5px;
    background: $input-color;
    outline: none;
    font-family: Roboto, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    resize: none;
  }

  textarea:focus {
    background: $white-color;
  }

  textarea:focus::placeholder {
    color: transparent;
  }

  textarea:focus:-moz-placeholder {
    color: transparent;
  }

  button {
    background: $black-color;
    border: none;
    color: $white-color;
    text-transform: uppercase;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    border-left: 2px solid $black-color;
  }

  button:hover {
    font-weight: 700;
    background: $white-color;
    color: $black-color;
    border-radius: 0 0 5px 0;
  }
}
