@import "../../../theme/colors";
$width_picker: 200px;

.input-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid $black-color;
  border-radius: 0 0 5px 5px;
  font-size: 1.4rem;
  background: $white-color;

  textarea {
    border: none;
    width: 100%;
    padding: 10px 20px 5px;
    font-size: 1.4rem;
    border-radius: 0 0 5px 5px;
    background: $input-color;
    outline: none;
    font-family: Roboto, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    resize: none;
  }

  textarea:focus {
    background: $white-color;
  }

  textarea:focus::placeholder {
    color: transparent;
  }

  textarea:focus:-moz-placeholder {
    color: transparent;
  }

  .submit {
    background: $black-color;
    border: none;
    color: $white-color;
    text-transform: uppercase;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    border-left: 2px solid $black-color;
  }

  .submit:hover {
    font-weight: 700;
    background: $white-color;
    color: $black-color;
    border-radius: 0 0 5px 0;
  }

  .picker-wrapper {
    visibility: hidden;

    .emoji-picker {
      position: absolute;
      width: $width_picker;
      bottom: 55px;
      right: 40px;

      .emoji-category {
        width: $width_picker;
      }
    }
  }

  .picker-wrapper.visible {
    visibility: visible;
  }

  .emoji-picker-icon {
    background: $input-color;
    border: none;
    text-transform: uppercase;
    padding: 0 20px 0 15px;
    outline: none;
    cursor: pointer;
  }
}

@media only screen and (max-width : 549px) {
  .input-section {
    .emoji-picker-icon {
      padding: 0 10px 0 5px;
    }
  }
}
