.logout-button {
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 15px;
  outline: none;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}

.logout-button:hover {
  font-weight: 500;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
}
