@import "../../../colors/colors";

.status {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid $black-color;
  border-radius: 5px 5px 0 0;
  font-size: 1.4rem;

  .status__content {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status__status {
      font-weight: 700;
      margin: 5px 0;
      flex-grow: 1;

      .status__value {
        text-transform: uppercase;
      }

      .status__value_offline {
        color: $error-color;
      }

      .status__value_online {
        color: $success-color;
      }
    }

    .user-name {
      margin: 5px 20px;
      font-size: 1.4rem;
      font-weight: 700;
      color: $black-color;
    }
  }
}
