.status {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px 5px 0 0;
  font-size: 1.4rem;

  .status__content {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 700;
      margin: 5px 0;

      .status__value {
        text-transform: uppercase;
      }

      .status__value_offline {
        color: #e03213;
      }

      .status__value_online {
        color: green;
      }
    }
  }
}
